.warna-bg{
    background: linear-gradient(to right, rgba(177, 72, 129, 0.92), rgba(54,209,220, .92));
}

.jumbotron-bg {
    background-size: cover;
    background: url(../../assets/img/bg.jpg);
    background-size: 300px;
}
.row .card {
    box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
    transform: scale(1.02);
}
